* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f5f5;
  color: #222;
}

/* HEADER */
.topbar {
  background: #0660aa; /* verde estilo ge */
  padding: 15px 0;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 600;
}

nav a:hover {
  opacity: 0.8;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* HERO */
.hero {
  background: white;
  padding: 40px;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.hero h1 {
  font-size: 2.5rem;
  color: #0660aa;
  margin-bottom: 15px;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #0660aa;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: #05438a;
}

/* TABELA */
.tabela-section {
  margin-top: 40px;
}

.tabela-section h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background: #0660aa;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.atualizar-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.atualizar-btn:hover {
  background: #000;
}

/* FOOTER */
footer {
  margin-top: 50px;
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

.news-page {
  margin-top: 30px;
}

.news-page h1 {
  color: #06aa48;
  margin-bottom: 25px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.news-card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card h2 {
  margin-bottom: 10px;
}

.news-card .data {
  display: block;
  margin-top: 15px;
  font-size: 0.9rem;
  color: gray;
}

.destaque {
  border-left: 6px solid #06aa48;
}